body {
    display:flex;
    flex-direction: column;
}


.header {
    display:flex;
    justify-content: space-between;
    background-color:#1F2937;
}

.hero-text{
    display:flex;
    justify-content: space-around;
    background-color:#1F2937;
    padding: 25px;
}

.left-side {
    display:flex;
    width:400px;
    flex-wrap: wrap;
}

.right-side{
    display:flex;
    align-items: center;
}

h1 {
    display:flex;
    font-size:48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom:0;
    align-items: flex-end;
}
p {
    color: #E5E7EB;
     margin-top:0;
}

.sign-up {
    background-color:#3882F6;
    color:white;
    border-radius:12px;
    border:none;
    width:100px;
    cursor:pointer;
}

ul {
    display:flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

.information-text{
    color:#1F2937;
    width: 156px;
    border: 1px solid black;
    
}

.information-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
